*.bin
*.sym
*.dbg
*.label
*.sfc
*-map.txt
*.obj

*.pic
*.pal
linkfile

/*.sh
/*.py

/target
/vendor
crates/*/target
/.cargo
/.vscode
SDL2.dll

fuzz/target
fuzz/corpus
fuzz/artifacts

/audio-driver/pvsneslib-api/sound-test/tiles/*.inc
/audio-driver/pvsneslib-api/sound-test/tiles/*.as

